.header{
    display:  flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
    border-bottom: 5px solid white;
    background: rgba(0, 0, 0, .5);
}

.header__title{
    font-family: 'Qore';
    color:  white;
    font-style:  normal;
}

.header__download-button{
    padding: 5px;
    text-decoration: none;
    background: none;
    border: none;
    font-family: 'Qore';
    color:  white;
    font-size: 18px;
    transition: .5s;
}

.header__download-button:hover{
    background-color: #8e8e8e;
}