.header{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    
    min-height: 50px;
    max-width: 1140px;
    width: 90%;
}

.header__games{
    display: flex;
}

.header__main-icon{
    padding: 0;
    max-width: 64px;
    max-height: 64px;
    background: none;
    border: none;
}

.header__game{
    padding: 5px 10px;
    font-size: 18px;
    display:  flex;
    text-align: center;
    align-items: center;

    margin: 20px;
    font-family: 'Galiver Sans';
    color:  white;
    font-style:  normal;
    transition: .5s;
    text-decoration: none;
}
.header__game:hover{
    
    border-radius: 20px;
    background-color: #8e8e8e;
}

.header__game_selected{
    text-decoration: underline;
}

.header__download-button{
    width: fit-content;
    padding: 7px 12px;
    text-decoration: none;
    background: none;
    border: none;
    font-family: 'Galiver Sans';
    color:  white;
    font-size: 18px;
    transition: .5s;
    background-color: #8e8e8e;
    border-radius: 30px;
}

.header__download-button:hover{
    background-color: #4c4c4c;
}

@media screen and (max-width: 820px) {
    .header__game{
        margin: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 660px) {
    .header__download-button{
        display: none;
    }
    .header__games{
        width: 100%;
        justify-content: space-around;
        margin: 5px;
        padding: 3px 2px;
        font-size: 14px;
    }
}