.footer{
    display:  flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
    border-top: 5px solid white;
    background-color: rgba(0, 0, 0, 0.74);
}

.footer__nav{
    width: 95%;
    /* border: salmon solid 1px; */
}

.footer__nav-list{
    padding: 0;
    list-style: none;
}

.footer__nav-link{
    font-family: 'Galiver Sans';
    font-weight: normal;
    color:  #aaa;
    font-size: 13px;
    letter-spacing: 1px;

    text-decoration: none;
}

