.footer{
    max-width: 1140px;
    width: 80%;
    display:  flex;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
}

/* .footer__nav{
    width: 95%;
     border: salmon solid 1px;
} */

.footer__nav-list{
    display: flex;
    padding: 0;
    list-style: none;
}

.footer__nav-link{
    
    padding: 5px 10px;
    font-family: 'Galiver Sans';
    font-weight: normal;
    color:  #aaa;
    font-size: 13px;
    letter-spacing: 1px;

    text-decoration: none;
    transition: .5s;
}

.footer__nav-link:hover{
    background-color: #8e8e8e;
    border-radius: 15px;
}